body{
	font-family: 'Montserrat';
}
.wrap{
	background-color: #fff;
	background-image: url('/themes/frontend/images/bg1.jpeg');
	background-size: cover;
	background-repeat: repeat;
}
.navbar{
	background-image: none;
	padding: 10px 0px;
	text-transform: uppercase;
	text-shadow: none;
}
.btn{
	border-radius: 2px;
}
.navbar-default{
	background-color: #ff9933;
	border-color: #ff9933;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: #e7e7e7;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	border-color: #fff;
	background-color: #ff9933;
}
.navbar-default .navbar-toggle{
	border-color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	background-color: #101125;
}
.shadow {
    box-shadow: 0 0 4px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.5);
}
.boxed{
	padding: 20px;
	background-color: #fff;
	border-radius: 3px;
}
.bordered-boxed{
	border: 1px solid #e7e7e7;
}
.login-form{
	margin-top: 100px;
}
a{
	text-decoration: none!important;
}
.btn-theme,.btn-theme:focus,.btn-theme:active,.btn-theme:hover{
	background-color: #121224;
	color: #fff;
}
.btn-orange,.btn-orange:focus,.btn-orange:active,.btn-orange:hover{
	background-color: #f59121;
	color: #fff;
	padding: 5px 10px;
}
.btn-upload,.btn-upload:focus,.btn-upload:active,.btn-upload:hover{
	background-color: #e7e7e7;
	color: #000;
}
.boxed-header{
	margin: -20px -20px 30px -20px;
	padding: 20px 0px;
	background-color: #121224;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.boxed-header img{
	width: 100px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	background-color: #f59121;
}
.cards{
	margin-top: 30px;
}
.cards-header{
	margin: 50px 0px;
}
.cards-header img{
	width: 130px;
}
.square{
	min-height: 450px;
}
.square-image{
	height: 180px;
	overflow: hidden;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	margin-bottom: 30px;
}
.square-image img{
	border-radius: 2px;
}
.divider{
	margin-left: -20px;
	margin-right: -20px;
}
.profile-picture img{
	height: 80px;
	width: 80px;
	border-radius: 80px;
}
.profile-picture-sm img{
	height: 40px;
	width: 40px;
	border-radius: 40px;
}
.media-voucher{
	min-height: 100px;
}
.video{
	padding: 5px;
	border: 1px solid #f5f5f5;
	background-color: #f5f5f5;
}
.smaller-font li{
	font-size: .9em;
	color: #DF4C58;
}