.content-wrapper{
    min-height: 800px;
}
.side-menu .nav-2-level>li>a{
    padding: 10px 10px 10px 50px;
}
.page-footer{
    padding: 15px 15px;
}
.form-control-line{
    padding-left: 10px;
}
.ibox-title{
    text-transform: uppercase;
}
.modal-dialog .modal-content{
    border-radius: 2px;
}
.caps{
    text-transform: uppercase!important;
}
.badge-round{
    border: 1px solid #f5f5f5;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    top: -5px;
    padding: 8px 5px 8px 5px;
}
.page-sidebar ul li a{
    padding: 17px 15px;
    border-bottom: 1px solid #253544;
}
.page-sidebar ul li a:hover{
    border-left: 5px solid  #ff9933;
}
.card{
    cursor: pointer;
}
.book_details{
    padding-bottom: 20px;
}
.book_image{
    padding: 30px 0px 10px 0px;
}
.book_categories{
    padding: 20px 0px 10px 0px;
}
.book_stock{
    padding: 20px 0px 10px 0px;
}
.book_variants{
    padding: 20px 0px 10px 0px;
}
.book_seo{
    padding: 20px 0px 0px 0px;
}
.separator{
    height: 30px;
    background-color: #F2F3FA;
    border: 1px solid #F2F3FA;
    margin-left: -30px;
    margin-right: -30px;
}
.pdfobject-container { height: 700px;}
.pdfobject { border: 1px solid #666; }
.document-information{
    background-color: #fff;
    padding: 20px;
    min-height: 480px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
}
.document-overview{
    min-height: 190px;
}
.document-preview{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
}
.doc-info-header{
    margin: -20px;
    padding: 20px 20px 10px 10px;
}
.doc-info-table{
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
}
.doc-info-table-overview{
    margin-top: -21px;
}
.summary{
    margin-bottom: 16px;
    margin-top:0px;
}
.nav-tabs li{
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-bottom: none;
    margin-right: 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.danger{
	color: red;
}
.btn-primary.active,.btn-primary.disabled,.btn-primary.focus,.btn-primary:active,.btn-primary:disabled,.btn-primary:focus,.btn-primary:hover,.show>.btn-primary.dropdown-toggle {
    background-color: #121224;
    border-color: #121224;
}
div.dataTables_wrapper div.dataTables_paginate{
    position: relative;
    left: 100px;
}
.stat-card{
    min-height: 450px;
    border-radius: 3px;
}
.stats-cards{
    padding-top: 0px;
}
.header .page-brand{
    font-size: 18px;
}